<mat-expansion-panel *ngIf="data$ | async as data" [ngClass]="shouldBeMarked(data) ? 'mark': 'panel'">
  <mat-expansion-panel-header>
    {{building.name}}
  </mat-expansion-panel-header>

  <table mat-table [dataSource]="data" [ngClass]="shouldBeMarked(data) ? 'mark': 'panel'" class=table>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ng-container *ngFor="let level of building.immoveables">
    <app-level-info [filter]="filter" *ngIf="level.id != 0" [level]="level"></app-level-info>
  </ng-container>
</mat-expansion-panel>
d
