<mat-expansion-panel class=panel #panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{isNew ? "Add new Level" : level.name}}
      </mat-panel-title>
      <mat-panel-description class=header-icons>
          <button mat-icon-button *ngIf="!isNew" (click)="onDelete()" class=header-icon>
              <mat-icon>delete</mat-icon>
          </button>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
        <mat-form-field>
            <input matInput placeholder="Name" [formControl]="nameForm">
            <mat-error *ngIf="nameForm.hasError('required')">
              Name is required
            </mat-error>
        </mat-form-field>
        <mat-accordion>

          <app-room-editor #roomEditor (delete)="deleteRoom(i)" [room]="r" [parentFormArray]="roomsForm" *ngFor="let r of level.immoveables; let i = index"></app-room-editor>
          <app-room-editor (accept)="addRoom($event)"></app-room-editor>
        </mat-accordion>
    </form>
    <mat-action-row *ngIf="isNew">
        <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Accept</button>
    </mat-action-row>
  </mat-expansion-panel>
