<mat-expansion-panel class=panel>
  <mat-expansion-panel-header>
    {{level.name}}
  </mat-expansion-panel-header>

  <table mat-table [dataSource]="data" class=table>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element"> {{element.value | async}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-container *ngFor="let room of level.immoveables">
    <app-room-info *ngIf="room.id != 0" [room]="room"></app-room-info>
  </ng-container>
</mat-expansion-panel>
